### importação das bibliotecas

In [1]:
import pandas as pd

### Leitura dos dados

"business_unit"

In [2]:
business_unit = pd.read_csv('business_unit.csv')

In [57]:
business_unit

   Business_20_Units_Business_20_Unit Business_20_Units_Division
0                                23-0                      Minor
1                                50-0                      Minor
2                                55-0                      Minor
3                                60-0                      Minor
4                                65-0                      Minor
5                                70-0                      Minor
6                                75-0                      Minor
7                                80-0                      Minor
8                                90-0                      Minor
9                                AM-0                      Minor
10                               BA-0                      Minor
11                               BI-0                      Minor
12                               CH-0                      Minor
13                               CO-0                      Minor
14                               CP-0                       Core
15                               CR-0                      Minor
16                               DE-0                      Minor
17                               EM-0                      Minor
18                               ER-0                      Minor
19                               EX-0                      Minor
20                               FI-0                      Minor
21                               FO-0                      Minor
22                               FS-0                      Minor
23                               HC-0                       Core
24                               HC-0                      Minor
25                               HO-0                       Core
26                               HO-0                     Growth
27                               HO-0                      Minor
28                               LO-0                      Minor
29                               MA-0                       Core
30                               MA-0                      Minor
31                               OS-0                      Minor
32                               PH-0                      Minor
33                               PU-0                       Core
34                               PU-0                      Minor
35                               SA-0                      Minor
36                               SE-0                      Minor
37                               SM-0                      Minor
38                               SO-0                      Minor
39                               ST-0                      Minor
40                               UM-0                      Minor
41                               UT-0                      Minor

In [61]:
business_unit.to_csv('business_unit.csv')

"customer"

In [4]:
customer = pd.read_csv('customer.csv')

In [6]:
### apagando dados NAN
customer = customer.dropna()

In [62]:
customer.to_csv('customer.csv')

In [8]:
## Verificação de dados duplicados
customer.duplicated().sum()

0

"dates"

In [9]:
dates = pd.read_csv('dates.csv')

In [63]:
dates.to_csv('dates.csv')

"financial_sample"

In [17]:
financial_sample = pd.read_csv('financial_sample.csv')

In [18]:
## Verificação de dados sem NAN
financial_sample.isna().sum()

Segment                0
Country                0
Product                0
Discount_Band          0
Units_Sold             0
Manufacturing_Price    0
Sale_Price             0
Gross_Sales            0
Discounts              0
Sales                  0
COGS                   0
Profit                 0
Date                   0
Month_Number           0
Month Name             0
Year                   0
dtype: int64

In [19]:
## Verificação de dados duplicados
financial_sample.duplicated().sum()

0

In [36]:
# Remover os símbolos de dólar e as vírgulas, e então converter para float
financial_sample['Units_Sold'] = financial_sample['Units_Sold'].str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)

In [38]:
# Manufacturing_Price
financial_sample['Manufacturing_Price'] = financial_sample['Manufacturing_Price'].str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)

In [39]:
## Sale_Price 
financial_sample['Sale_Price'] = financial_sample['Sale_Price'].str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)

In [43]:
# Primeiro, converter todos os valores para strings
financial_sample['Gross_Sales'] = financial_sample['Gross_Sales'].astype(str)

# Em seguida, remover os símbolos de dólar e as vírgulas, e converter para float
financial_sample['Gross_Sales'] = financial_sample['Gross_Sales'].str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)

In [50]:
## Discounts
financial_sample['Discounts'] = financial_sample['Discounts'].str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)

In [44]:
## Sales 

# Primeiro, converter todos os valores para strings
financial_sample['Sales'] = financial_sample['Sales'].astype(str)

# Em seguida, remover os símbolos de dólar e as vírgulas, e converter para float
financial_sample['Sales'] = financial_sample['Sales'].str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)

In [45]:
## COGS

# Primeiro, converter todos os valores para strings
financial_sample['COGS'] = financial_sample['COGS'].astype(str)

# Em seguida, remover os símbolos de dólar e as vírgulas, e converter para float
financial_sample['COGS'] = financial_sample['COGS'].str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)

In [48]:
## Profit

# Primeiro, converter todos os valores para string
financial_sample['Profit'] = financial_sample['Profit'].astype(str)

# Remover símbolos de dólar e vírgulas
financial_sample['Profit'] = financial_sample['Profit'].str.replace('$', '', regex=False).str.replace(',', '', regex=False)

# Substituir valores entre parênteses por negativos
financial_sample['Profit'] = financial_sample['Profit'].str.replace(r'\((.*?)\)', r'-\1', regex=True)

# Converter para float
financial_sample['Profit'] = financial_sample['Profit'].astype(float)

In [51]:
financial_sample

,Segment,Country,Product,Discount_Band,Units_Sold,Manufacturing_Price,Sale_Price,Gross_Sales,Discounts,Sales,COGS,Profit,Date,Month_Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,1618.5,20.0,32370.0,0.00,32370.00,16185.0,16185.00,1/1/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,1321.0,20.0,26420.0,0.00,26420.00,13210.0,13210.00,1/1/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,2178.0,15.0,32670.0,0.00,32670.00,21780.0,10890.00,6/1/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,888.0,15.0,13320.0,0.00,13320.00,8880.0,4440.00,6/1/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,2470.0,15.0,37050.0,0.00,37050.00,24700.0,12350.00,6/1/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,2475.0,300.0,742500.0,111375.00,631125.00,618750.0,12375.00,3/1/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,546.0,300.0,163800.0,24570.00,139230.00,136500.0,2730.00,10/1/2014,10,October,2014
697,Government,Mexico,Montana,High,1368.0,1368.0,7.0,9576.0,1436.40,8139.60,6840.0,1299.60,2/1/2014,2,February,2014
698,Government,Canada,Paseo,High,723.0,723.0,7.0,5061.0,759.15,4301.85,3615.0,686.85,4/1/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,1806.0,12.0,21672.0,3250.80,18421.20,5418.0,13003.20,5/1/2014,5,May,2014

In [52]:
financial_sample.to_csv('financial_sample.csv')